<link rel="stylesheet" href="../static/css/navbar.css" />
<nav class="navbar navbar-expand-md bg-light navbar-light" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" id="nav-heading" href="/about_us">CT DECODE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse centered" id="collapsibleNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about_us"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/scan">Scan</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <div class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="/dashboard/account_info"
          >Account</a
        >
      </div>
      {% endif %}

      <li class="d-flex" style="padding: 10px 20px 0 30px !important">
        <form>
          <input type="text" hidden />
          {% if user.is_authenticated %}
          <button class="btn btn-danger" type="submit" formaction="/logout">
            Logout
          </button>
          {% else %}
          <button class="btn btn-info" type="submit" formaction="/login_gui">
            Login
          </button>
          {% endif %}
        </form>
      </li>
    </div>
  </div>
</nav>
